<h3>Hands on example of reading the data in Python</h3>

<p><em>Python</em> is very popular nowadays and is one of the demanding language for dealing in Data Science. The entrire credit of its popularity goes to the active community and the developers who made several things possible by an import. For reading the data in Python, <strong>pandas</strong> <em>library/package/module</em> is used.
</p>

In [1]:
# Importing the pandas library
import pandas as pd

<em>where <code>as</code> is an alias and <code>pd</code> is the standard notation to represent this alias.</em>

<strong>An alias is like a pet name assigned to you by your loved ones.</strong>

<strong>Note:</strong> You can use any name in the place of <code>pd</code>

<pre>Let's play with the datasets.</pre>

In [3]:
# Reading the dataset
data1 = pd.read_csv('dataset/data1.csv')

<code>read_csv()</code> is a function to read the csv files, where <strong><em>csv</em></strong> stands for <strong><em>"comma-separated values"</em></strong>.

We have our data in <code>data1</code> object. Let's check the type of this object.

<strong>Note:</strong> Everything in Python is an object of certain type.

In [4]:
type(data1)

pandas.core.frame.DataFrame

The type of this object is a <strong>DataFrame</strong>.

<strong>DataFrame:</strong> A DataFrame is a 2-D data structure defined in pandas, to give a look to it like a table such as sales record in an excel sheet or employee record in a SQL database.

<strong>Series:</strong> A 1-D data structure. We can say a DataFrame is a collection of more than one series.

<h3>Time to look what's inside the data or how the data looks</h3>

In [5]:
data1.head()

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

<code>head()</code> is used to display first five rows of the dataset.

You can even assign the number of rows by passing an argument <code>head(10)</code>. The number <strong>10</strong> signifies to show first 10 rows of the dataset.